.vs/
obj/x64/Debug/*
!obj/x64/Debug/PlanQA_Plugin.esapi.dll
EPEK/bin/
EPEK/obj/
DirectTest/bin/
DirectTest/obj/
obj/x64/Release/Controls/MsgBoxWindow.baml
obj/x64/Release/Controls/MsgBoxWindow.g.cs
obj/x64/Release/Controls/MsgBoxWindow.g.i.cs
obj/x64/Release/PlanQA_Plugin.csproj.CoreCompileInputs.cache
obj/x64/Release/PlanQA_Plugin.csproj.FileListAbsolute.txt
obj/x64/Release/PlanQA_Plugin.csprojAssemblyReference.cache
obj/x64/Release/PlanQA_Plugin.esapi.g.resources
obj/x64/Release/PlanQA_Plugin.esapi.pdb
obj/x64/Release/PlanQA_Plugin.esapi_MarkupCompile.cache
/plugins
/packages
/PhysQA_Runner/bin/Debug
/PhysQA_Runner/obj/Debug
